
<div class="modal-content">
    <div class="form-input" id="change-password">
    <form  class="reg-form">
        <h2>Изменение пароля</h2>
        {{#if oldpassword }} {{{ oldpassword }}} {{/if}}
        {{#if newpassword }} {{{ newpassword }}} {{/if}}
        {{#if newpasswordconfirm}} {{{ newpasswordconfirm }}} {{/if}}
        {{#if changePassword }} {{{ changePassword }}} {{/if}}
        {{#if closeChangePassword }} {{{ closeChangePassword }}} {{/if}}
    </form>
</div>

