 <div class="profile-form" id="profile-form"> 
    <div class="profile-sidebar" id="profile-sidebar">
        {{#if linkToMessenger }}
            {{{ linkToMessenger }}}
        {{/if}}
    </div>
    <div class="profile-subform" id="profile-subform">
        <div class="profile-avatar" id="profile-avatar">
            <img src="{{{avatarLink}}}" alt="Avatar" />
        </div>
        {{{ changePasswordFormPage }}}
        {{{ changeAvatarFormPage }}}
        <form class="form-input" id="profile-form-input">
            <h2>Данные пользователя</h2>
            {{#if email }}  {{{ email }}} {{/if}}
            {{#if login }} {{{ login }}} {{/if}}
            {{#if first_name }} {{{ first_name }}} {{/if}}
            {{#if second_name }} {{{  second_name }}} {{/if}}
            {{#if display_name }} {{{ display_name }}} {{/if}}
            {{#if phone }} {{{ phone }}} {{/if}}
            {{#if changeAvatar }}  {{{ changeAvatar }}} {{/if}}
            {{#if profileChangeData }} {{{ profileChangeData }}} {{/if}}
            {{#if profileChangePassword }} {{{ profileChangePassword }}} {{/if}}
            {{#if profileLogout }} {{{ profileLogout }}} {{/if}}
           
        </form>
       <div>{{#if errormessage  }} {{{ errormessage }}} {{/if}}</div>
    </div> 
    {{#if changePasswordFormPage }} {{{ changePasswordFormPage }}} {{/if}}            
    {{#if changeAvatarFormPage }} {{{ changeAvatarFormPage }}} {{/if}}
</div>

            
            
            
            
            