

<div class="dialog-header" id="dialog-header">
        <div class="chat-header-descr" id="chat-header-descr">
            <p>{{{chatTitle}}}</p>
        </div>
        {{#if chatMenuButton_attr}}
            {{{chatMenuButton_attr}}}
        {{/if}}
        {{{ chatMenuPage_attr }}}
        {{{ addUserFormPage_attr }}}
        {{{ delUserFormPage_attr }}}
    </div>
    <div class="dialog" id="dialog">
        <ul> 
            {{#if messages_attr}}
                {{#each messages_attr}}
                    {{{this}}}      
                {{/each}}
            {{/if}}

            {{#each chatsList_attr}}
                    {{{this}}}      
                {{/each}}
            {{!-- {{{chatsList}}} --}}
    </div>
    <div class="dialog-footer" id="dialog-footer">
        
        {{{ addFilesPage_attr }}}
        {{{ addFileFormPage_attr }}}
		{{{ addFotoVideoFormPage_attr }}}
        {{{ addLocationFormPage_attr }}}
        <form class="chat-input-form" id="chat-input-form" sendId="">
           
            {{#if addButton_attr }}
                {{{addButton_attr}}}
            {{/if}}
            {{#if messageInput_attr }}
                {{{messageInput_attr}}}
            {{/if}}
            {{#if sendButton_attr }}
                {{{sendButton_attr}}}
            {{/if}}
        </form>
    </div>
    
        
    