
<form action="" class="reg-form">
    <div class="form-input" id="reg-form-child">
        <h2>{{{pageTitle}}}</h2>
        {{{login}}} 
        {{{password}}}
        {{{loginbutton}}}  
        {{{loghasaccbutton}}}
    </div>
</form>

