
<div action="" class="reg-form" >
    <div class="form-input" id="reg-form-child">
        <h2>{{{pageTitle}}}</h2>
        {{{email}}}
        {{{login}}} 
        {{{first_name}}}
        {{{second_name}}}
        {{{display_name}}}
        {{{phone}}}
        {{{password}}}
        {{{password_confirm}}}
        {{{registrationButton}}}  
        {{{regHasAccButton}}}
    </div>
</div>

