
<div action="" class="reg-form" >
    <div class="form-input" id="reg-form-child">
        <h2>{{{pageTitle}}}</h2>
        {{{email}}}
        {{{login}}} 
        {{{firstName}}}
        {{{secondName}}}
        {{{displayName}}}
        {{{phone}}}
        {{{password}}}
        {{{passwordConfirm}}}
        {{{registrationButton}}}  
        {{{regHasAccButton}}}
    </div>
</div>

