<div class="chat-sidebar" id="chat-sidebar">
    <div class = "chat-sidebar-header" id="chat-sidebar-header">
        {{{createChatButton_attr}}}
        {{{linkToProfile_attr}}}
        {{{searchInput_attr}}} 
        {{{searchButton_attr}}}
        {{{deleteChatButton_attr}}}
    </div>
    {{{chatsList_attr}}}
</div>
{{{messenger_attr}}}
{{{createChatForm_attr}}}



