<div class="chat-sidebar" id="chat-sidebar">
    <div class = "chat-sidebar-header" id="chat-sidebar-header">
        {{{createChatButton}}}
        {{{linkToProfile}}}
        {{{searchInput}}} 
        {{{searchButton}}}
        {{{deleteChatButton}}}
    </div>
    {{{chatsList}}}
</div>
{{{messenger}}}




